<html>
  <head>
    <title>STUDENT</title>
    <meta content="">
    <style></style>
  </head>
  <body>
    <h1>Students sid={{sid}} cod={{cid}}</h1>
    {% for person in stud_on_course %}
    {{forloop.counter}} | {{person.id}}  | {{person}} | {{person.address}} | {{person.skype}} <br>
        {% for course in person.courses.all %}>>>{{course}}<br>{% endfor %}
<!--         {% for k,v in courses_list.items %} -->
<!--             [{{courses_list}}]  -->
<!--         {% endfor %}<br  -->
<!--     {% for person.id in courses_list%} >>>{{courses_list.person.id}}<<< {%endfor%} -->
    {% endfor %}
    <br><br><br>
    {{courses_list}}<br>
    33333========{{courses_list.3}}<br>
         {% for k,v in courses_list.items %} -->
            [k={{k}},v={{v}}]<br>
        {% endfor %}<br  
    
  </body>
</html>
 