{% extends 'students/base.html' %}


{% block title %} Student detail{% endblock title %}


{% block content %}
  <div class="container">
  {% for student, crs in all_student_info %}
  <h2>{{ student.name }} {{ student.surname }}</h2>
  <p></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>дата рождения</td>
      <td>{{ student.date_of_birth }}</td>
    </tr>
    <tr>
      <td>адрес</td>
      <td>{{ student.address }}</td>
    </tr>
    <tr>
      <td>почта</td>
      <td>{{ student.email }}</td>
    </tr>
    <tr>
        <td>логин skype</td>
        <td>{{ student.skype }}</td>
    </tr>
    <tr>
        <td>телефон</td>
        <td>{{ student.phone }}</td>
    </tr>
    <tr>
        <td>курсы</td>
        <td>{% for c, i in crs %}<a href="{% url 'courses:detail' i  %}">{{ c }}</a><br>{% endfor %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}
{% block pager_footer %}{% endblock pager_footer %}
