{% extends 'base.html' %}

{% load staticfiles %}

{% block isStudentsListActive %}active{% endblock isStudentsListActive %}

{% block pageTitle %} Информация о студенте {{ student.full_name }}.{% endblock pageTitle%}

{% block content %}

  <div class="container">
  <h3>{{ student.full_name }}</h2>
  <p></p>
  <table class="table table-striped">
    <tbody>
    {% include "include/user_details.html" with user=student %}
    <tr>
        <td>курсы</td>
        <td>
          {% for course in student.courses.all %}
            <ul>
              <li>{{ course.name }}</li>
            </ul>
          {% endfor %}
        </td>
    </tr>
    </tbody>
  </table>
  </div>
{% endblock %}