{% extends "students/base.html" %}


{% block title %}Edit student data{% endblock title %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{message.tags}}{%endif%}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h1 class="page-header">Edit student data</h1>

<form method="post" class="person-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" class="btn btn-primary">
</form>

{% endblock content %}