{% extends "base.html" %}


{% block title %}Редактирование данных студента{% endblock title %}


{% block active_students %}"active"{% endblock %}


{% block content %} 
    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="container">
      <h1 class="my_descript">Редактирование данных студента</h1>
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Изменить"> 
        </form>
    </div> 

{% endblock content %}