{% extends "base.html" %}


{% block title %}Список студентов pyBursa{% endblock title %}


{% block active_students %}"active"{% endblock %}


{% block content %}
    <div class="container">
      <h2>Список студентов:</h2>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"></div>
        <!-- Table -->
        <table class="table">
          <tr>
            <td>#</td>
            <td>фамилия имя</td>
            <td>адрес</td>
            <td>skype</td>
            <td>курсы</td>
          </tr>
          {% for student  in students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'students:detail' student.id %}">{{ student.name }} {{ student.surname }}</a></td>
            <td>{{ student.address }}</td>
            <td>{{ student.skype }}</td>           
            <td>
            {% for course in student.courses.all %}
              <p><a href='{% url 'courses:detail' course.id  %}'>{{ course }}</a></p>
            {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div> 
{% endblock content %}