{% extends "base.html" %}


{% load staticfiles %}


{% block title %}students detail{% endblock %}


{% block content %}
<div class="container">
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>фамилия имя</th>
      <th>адрес</th>
      <th>skype</th>
      <th>курсы</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
      <a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a>
      </td>
      <td>{{ student.address }}</td>
      <td>{{ student.skype }}</td>
      <td>
      {% for course in student.courses.all %}
      <a href="{% url 'courses:detail' course.id %}">{{ course.name }}<br></a>
      {% endfor %}
      </td>
    <tr> 
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
