<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Main-PyBursa</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <ul class="nav nav-pills">
    <li role="presentation" ><a href="{% url 'index' %}">Main</a></li>
    <li role="presentation"><a href="{% url 'contact' %}">Contacts</a></li>
    <li role="presentation" class="active"><a href="{% url 'students:list' %}">Students</a></li>
    <li role="presentation"><a href="{% url 'quadratic_results' %}">Quadratic</a></li>
  </ul>

  <div class="container">
  <h2>Список студентов</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>фамилия имя</th>
        <th>адрес</th>
        <th>skype</th>
        <th>курсы</th>
      </tr>
    </thead>
    <tbody>

    {% for student, crs in students_of_course %}
    <tr>
       <td>{{ forloop.counter }}</td >
       <td><a href="{% url 'students:detail' student.id %}">{{ student.name }} {{ student.surname }}</a></td>
       <td>{{ student.address }}</td>
       <td>{{ student.skype }}</td>
       <td>{% for c, i in crs %}<a href="{% url 'courses:detail' i  %}">{{ c }}</a><br>{% endfor %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  </body>
</html>
