{% extends 'base.html' %}


{% block title %} Students {% endblock title %}


{% block students_active %} class="active" {% endblock students_active %}


{% block jumbotron %}
  {% block jumbotron_header %}{% endblock jumbotron_header %}</h1>
  {% block jumbotron_header2 %}{% endblock jumbotron_header2 %}</h2>
  {% block jumbotron_header3 %}{% endblock jumbotron_header3 %}
  {% block jumbotron_description %}{% endblock jumbotron_description %}
{% endblock jumbotron %}


{% block content %}
{% if messages %}
  <div class="container">
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message }}
    </div>
    {% endfor %}
  </div>
  </div>
{% endif %}

  <p>
  <a class='btn btn-sm btn-success' href="{% url 'students:add' %}" role='button'>
    <span class="glyphicon glyphicon-plus-sign"></span>Добавить нового студента</a>
  </p>
  <h2>Список студентов</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>фамилия имя</th>
        <th>адрес</th>
        <th>skype</th>
        <th>курсы</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for student in object_list %}
    <tr>
       <td>{{ forloop.counter }}</td >
       <td><a href="{% url 'students:detail' student.id %}">{{ student.name }} {{ student.surname }}</a></td>
       <td>{{ student.address }}</td>
       <td>{{ student.skype }}</td>
       <td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id  %}">{{ course }}</a><br>{% endfor %}</td>
       <td><a class="btn btn-default" href="{% url 'students:edit' student.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span>Изменить</a></td>
       <td><a class="btn btn-default" href="{% url 'students:remove' student.id %}" role="button"><span class="glyphicon glyphicon-remove"></span>Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>





{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}"><< previous</a></li>
    {% else %}

    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">next >></a></li>
    {% else %}

    {% endif %}
  </ul>
{% endif %}















    {% endblock content %}


<{% block previous %} class="selector_li" {% endblock previous%}>
{% block previous_href%}"{% url 'contact' %}"{% endblock previous_href%}


{% block next %} class="next disabled" {% endblock next%}>
{% block next_href %}"#"{% endblock next_href %}