{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{% endblock %}


{% block nav_class_students %}active{% endblock %}          


{% block content %}
{% if messages %}
<div class="container">
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="container">
<p><a class="btn btn-default" href="{% url 'students:add' %}" role="button">Добавить нового студента</a></p>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>фамилия имя</th>
      <th>адрес</th>
      <th>skype</th>
      <th>курсы</th>
    </tr>
  </thead>
  <tbody>
  {% for student in object_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <p><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a><br></p>
      </td>
      <td>{{ student.address }}</td>
      <td>{{ student.skype }}</td>
      <td>
      {% for course in student.courses.all %} 
      <a href="{% url 'courses:detail' course.id %}">{{ course.name }}<br></a>
      {% endfor %}
      <a class="btn btn-default" href="{% url 'students:edit' student.id %}" role="button">Изменить</a>
      <a class="btn btn-default" href="{% url 'students:remove' student.id %}" role="button">Удалить</a>
      </td>
    <tr> 
  {% endfor %}

 

  </div>
  </div>
  </tbody>
</table>
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="{{ course_id }}?page={{ page_obj.previous_page_number }}"><< previous</a></li>
      {% endif %}
        
      {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
          <li class="active"><a href="">{{ page }}<span class="sr-only"></span></a></li>
        {% else %}
          <li><a href="{{ course_id }}?page={{ page }}">{{ page }}<span class="sr-only"></span></a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="{{ course_id }}?page={{ page_obj.next_page_number }}">next >></a></li>
      {% endif %}
    </ul>
  {% endif %}
</div> 
{% endblock %}
