{% extends "base.html" %}

{% block nav_class_student %} active {% endblock %}

{% block title %} Список студентов {% endblock title %}


{% block content %}
{% if messages %}
<ul class="messages">
    <div class="jumbotron">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ massage.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
</ul>
{% endif %}

<p>
  <a href="{% url 'students:add' %}"><button type="button" class="btn btn-primary">Добавить нового студента</button></a>
</p>

      <div class="blog-post">
            <h2>Список студентов </h2>

            <table class="table table-bordered" style="width: 95%">
                <tr class="student_list">
                    <td>#</td>
                    <td>фамилия имя</td>
                    <td>адрес</td>
                    <td>skype</td>
                    <td>курсы</td>
                    <td></td>
                    <td></td>
                </tr>
                    {% for student in object_list %}
                <tr>
                    <td>{{ student.id }} </td>
                    <td><a href="{% url 'students:detail' student.id%}">{{ student.name }} {{ student.surname }}</a></td>
                    <td>{{ student.address }} </td>
                    <td>{{ student.skype }} </td>
                    <td> 
                        {% for courses in student.courses.all %}
                            <p><a href="{% url 'courses:detail' courses.id%}">{{ courses }}</a></p>
                        {% endfor %}   
                    </td>
                    <td><a href="{% url 'students:edit' student.id %}"><button type="button" class="btn btn-primary">Изменить</button></a></td>
                    <td><a href="{% url 'students:remove' student.id %}"><button type="button" class="btn btn-primary">Удалить</button></a></td>
                 </tr>
                  {% endfor %}
            </table>
            
            {% if is_paginated %}

               <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?{{ course_id_url }}page={{ page_obj.previous_page_number }}"><< previous</a></li>
                    {% endif %}
                  
                   {% for page in paginator.page_range %}
                      {% if page == page_obj.number %}
                          <li class="active"><a href="">{{ page }}<span class="sr-only"></span></a></li>
                      {% else %}
                         <li><a href="?{{ course_id_url }}page={{ page }}">{{ page }}<span class="sr-only"></span></a></li>
                       {% endif %}
                   {% endfor %}

                
                    {% if page_obj.has_next %}
                        <li><a href="?{{ course_id_url }}page={{ page_obj.next_page_number }}">next >></a></li>
                     {% endif %}
                </ul>
            {% endif %}

          </div>

{% endblock content %}
