{% extends "base.html" %}


{% block title %}PyBursa - Edit Student{% endblock title %}


{% block nav_class_student %}active{% endblock nav_class_student %}


{% load static %}


{% block content %} 


    <div class="page-header">
        <h2>Редактирование данных студента</h2>
    </div>

    <div class="form-group form-group-lg">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
           <input type="submit" value="Сохранить">
        </form>
</div>

{% endblock content %} 
