{% extends 'base.html' %}


{% block title %}Contacts{% endblock title %}


{% block active_contact %}active{% endblock %}


{% block content %}
{% load static %}
<div class="container">
  <div class="jumbotron">
      <h1>PyBursa Contacts</h1>
      <p>Мы работаем для тех, кто хочет получить максимальное количество знаний в кратчайшие сроки. Все программы курсов разработаны с учетом того, чтобы дать Вам как можно больше практики и навыков для работы.</p> 
  </div>
 
</div>

  <div class="media">
  <div class="media-left">
      <img class="media-object" src="{% static 'images/1.jpg' %}" alt="Director">
  </div>
  <div class="media-body">
    <div class="contact">
      <h2 class="media-heading"><a href="/">Director</a> 
      </h2>
      <p> <b>Name:</b>Gadget</p> 
      <p><b>Skype:</b> Gadget-director</p>
      <p><b>Email:</b> gadget@gmail.com</p> 
      <p><b>Phone:</b> (068) 888-08-80</p>
    </div>
  </div>
</div>

  <div class="media">
  <div class="media-left">
      <img class="media-object" src="{% static 'images/2.jpg' %}" alt="Director">
  </div>
  <div class="media-body">
    <div class="contact">
      <h2 class="media-heading"><a>Manager</a> 
      </h2>
      <p> <b>Name:</b> Chip</p> 
      <p><b>Skype:</b> chip-manager</p>
      <p><b>Email:</b> chip@gmail.com</p> 
      <p><b>Phone:</b> (099) 999-09-09</p>
    </div>
  </div>
</div>

  <div class="media">
  <div class="media-left">
      <img class="media-object" src="{% static 'images/3.jpg' %}" alt="Director">
  </div>
  <div class="media-body">
    <div class="contact">
      <h2 class="media-heading"><a href="/">Founder</a> 
      </h2>
      <p> <b>Name:</b> Dale</p> 
      <p><b>Skype:</b> dale-founder</p>
      <p><b>Email:</b> dale@gmail.com</p> 
      <p><b>Phone:</b> (063) 633-33-33</p>
    </div>
  </div>
</div>	
{% endblock %}
