{% extends "base.html" %}

{% load static %}


{% block title %}{{ title }}{% endblock title %}

{% block nav_feedback %}active{% endblock %}

{% block content %}

{% include "include/messages_include.html" %}

<div class="container">
    <div class="panel panel-primary"> 
            <div class="panel-heading"> 
                <h2 class="panel-title" align="center">
                    <h2 class="Program"><b>Users feedback</b></h>
                </h2>
            </div>
    <div class="panel-body">
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
            </form>
            <br>
    </div>
</div>


{% endblock content %}


