{% extends "base.html" %}


{% load static %}


{% block title %}PyBursa Home{% endblock title %}


{% block nav_class_index %}active{% endblock %}


{% block content %}

{% include "include/jumbotron_include.html" with block_title="Pybursa" block_text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ipsa saepe pariatur repudiandae a perspiciatis magnam expedita iusto autem molestiae voluptatum tenetur aliquid vel ex fugit laudantium, doloremque obcaecati explicabo!" %}

<h2 class="page-header">Our courses</h2>

<div class="table-responsive">
    <table class="table table-bordered courses-table">
        <thead>
            <tr class="info">
                <th class="courses-table__name">Course</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for course in courses_list %}
                <tr>
                    <th><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></th>
                    <td>{{ course.short_description|title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}