{% extends "base.html" %}


{% load staticfiles %}


{% block title %}courses detail{% endblock %}


{% block nav_class_students %}active{% endblock %}



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<div class="container">
	<div class="jumbotron">
	<h2 align='center'>Добавить курс</h2>
	<form method='post'>
		{{ form.as_p }}
	<input type="submit" />
	</form>
</div>
</div>
{% endblock %}


