{% extends "base.html" %}


{% load static %}


{% block title %}PyBursa Course detail{% endblock title %}




{% block content %}

{% include "include/course_include.html" %}

            <div class="jumbotron">
                <h1>{{ course.name }}</h1>
                <p>{{ course.description |truncatechars:32 }}</p>
            </div>



	        <h2 class="page-header">Course teachers</h2>
                {% if course.coach %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                    
                    <a href="{% url 'coaches:detail' course.coach.id %}">{{ coach.first_name }} {{ coach.last_name }}</a>
                    </h3>
                   </div>

                <div class="panel-body">
                         <p>{{ course.coach.description }}</p>{% endif %}
                </div>
                </div>

                <h2 class="page-header">Course assistants</h2>
                {% if course.assistant %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                    
                    <a href="{% url 'coaches:detail' assistant.id %}">{{ assistant.first_name }} {{ assistant.last_name }}</a>
<br />
                    </h3>
                   </div>

                <div class="panel-body">
                         <p>{{ course.assistant.description }}</p>{% endif %}
                </div>
                </div>
<br />
<a href="{% url 'courses:edit' course.id %}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Edit course
        </a>

<br />
<a href="{% url 'courses:remove' course.id %}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Remove course
        </a>

<br />
<a href="{% url 'courses:add-lesson' course.id %}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add lesson
        </a>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

                



            <h2 class="page-header">Course plan</h2>

            <div class="table-responsive">
                <table class="table table-bordered courses-table">
                    <thead>
                        <tr class="info">
                            <th>#</th>
                            <th class="courses-table__name">Subject</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for lesson in lessons_list %}
                            <tr>
                                <td>{{ lesson.order }}</td>
                                <td><strong>{{ lesson.subject }}</strong></td>
                                <td>{{ lesson.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        

    
 {% endblock content %}

  
