{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Информация o курсе {{course.name}}.{% endblock title %}

{% block groupFilter %}?course_id={{ course.id }}{% endblock groupFilter%}

{% block content %}

  {% if messages %}
      <div class="container">
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
            {% endfor %}
        </div>
      </div>
  {% endif %}

  <div class="container">
    <div class="container">
        <h1 class="coolshadow">Курс - &laquo{{ course.name }}&raquo</h1>
      <h2>Description</h2>
      <p class="greetings"><strong>{{ course.description|truncatechars:32 }}</strong></p>
    </div>
    <div class="container">
      {% if course.coach %}
        {% include "include/course_teacher_info_include.html" with title="Преподаватель" mentor=course.coach  %}
      {% endif %}
      
      {% if course.assistant %}
            {% include "include/course_teacher_info_include.html" with title="Ассистент" mentor=course.assistant  %}    
      {% endif %}
    </div>

    <h2>План курса</h2>
    <p></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>
      {% for lesson in lessons %}
        <tr>
          <td>{{ lesson.order }}</td>
          <td>{{ lesson.subject }}</td>
          <td>{{ lesson.description }}</td>
        </tr>
      {% endfor %}
        <p><a class='btn btn-sm btn-success' href="{% url 'courses:add-lesson' course.id %}" role='button'><span class="glyphicon glyphicon-plus-sign"></span> Добавить урок</a></p>

      </tbody>
    </table>
  </div>
  
{% endblock content %}