{% extends "base.html" %}

{% load static %}


{% block title %}EDIT COURSE {{ form.name.value }} {% endblock title %}

{% block content %}

{% if messages %}
<div class='container'>
    <div class='messages'>
       {% for message in messages %}
       <div class='alert alert-success' role='alert' {% if message.tags %} class='{{ message.tags }}' {% endif %}>
         <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
         {{ message }}
       </div>
       {% endfor %}
    </div>
</div>
{% endif %}

<div class="container">
    <div class="panel panel-success"> 
            <div class="panel-heading"> 
                <h2 class="panel-title" align="center">
                    <h2 class="Program">Редагувати дані по курсу: 
                                        <b>{{ form.name.value }}</b>
                    </h2>
                </h2>
            </div>
    <div class="panel-body">
        <div class='container'>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
<!--                 <input type="submit" value="Ok"/> -->
                <hr>
                <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Ok
                </button>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock content %}