{% extends "base.html" %}
{% load static %}


{% block title %}Изменение данных{% endblock title %}

{% block content %}
<div class="container">
  <h2 class="Program">Изменить данные курса : {{ course.name }} </h2>

  {% if messages %}
    <div class="container">
      <div class="messages">
          {% for message in messages %}
          <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
          {% endfor %}
      </div>
    </div>
  {% endif %}

</div>
    <div class="panel-body">
        <div class='container'>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Сохранить"/>
            </form>
        </div>
        <br>
    </div>
</div>
{% endblock content %}