{% extends "base.html" %}
{% load static %}


{% block title %}Coach{% endblock title %}


{% block content %}
    <div class="container">
    <h2>{{coach.user.first_name}} {{ coach.user.last_name }}</h2>
<div>
    <div class="table-responsive">
    <table class="table table-striped">
      {% include "include/coach_info_include.html" %}
            <th>Coach on</th>
             <td>{% for course in teacher %}
               <p><a href="{% url 'courses:detail' course.id %}">{{course.name}}</a>
               <a href="{% url 'students:list_view' %}?course_id={{course.id}}">Course students <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
               </p>
               {% endfor %}
             </td>
        </tr>        
        </tr>
            <th>Courses assist</th>
             <td>{% for course in assistant %}
               <p><a href="{% url 'courses:detail' course.id %}">{{course.name}}</a> 
               <a href="{% url 'students:list_view' %}?course_id={{course.id}}">Course students <span class="glyphicon glyphicon-info-sign"></span></a>
               </p>
               {% endfor %}
             </td>
        </tr>        
    
      </table>   
</div>
{% endblock content %}