{% extends 'base.html' %}

{% block title %}{{ title}}{% endblock title %}

{% block isFeedbackActive %}active{% endblock isFeedbackActive %}

{% block content %}

  {% if messages %}
    <div class="container">
      <div class="messages">
          {% for message in messages %}
          <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
          {% endfor %}
      </div>
    </div>
  {% endif %}


  <div class="jumbotron">
  <p>форма отзыва</p>
   <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Отправить отзыв">
    </form>

    </div>
  </div>
{% endblock %}