<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Курс PyBursa - Веб-разработка на Python&Django</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img id='logo_itBursa' alt="Brand" src="{% static '/images/logo1.png' %}">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Main</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li>
            <li><a href="{% url 'students:list_view' %}">Students</a></li>
          </ul>			  
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="jumbotron">

          <h1>PyBursa</h1>
          <p>Мы супер классно преподаем Python с 1886 года.</p>

      </div>
    </div>

    <div class="container">
	    <h2>Наши Python курсы. Выбирай любой!</h2>
      <table class="table">
        <tr>
          <td><b>Курс</b></td>
          <td><b>Описание</b></td>
        </tr>
      {% for course in courses %}
        <tr>
          <td><a href='{% url 'courses:detail' course.id  %}'>{{ course.name }}</a></td>
          <td>{{ course.short_description }}</td>
        </tr>
      {% endfor %}
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tabla>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/bootstrap.js' %}"></script>
  </body>
</html>
